/* Start Mini Cart */
.mini-cart {
    background: #fff;
    color: #222;
    display: none;
    position: absolute;
    right: 0;
    text-align: left;
    top: 100%;
    z-index: 20;
}
.grid:first-child {
    margin-left: 0;
}
.col-4 {
    width: 304px;
    max-width: 100%;
}
.grid {
    float: left;
    margin-left: 24px;
}
.mini-cart .mini-cart-content-wrapper {
    margin: 10px 0;
    overflow: hidden;
    padding: 0 10px;
    position: relative;
}
.mini-cart .mini-cart-item:last-of-type {
    margin: 0;
}
.mini-cart .mini-cart-item {
    background: #fff;
    display: block;
    margin: 0 0 10px;
    padding: 10px;
    position: relative;
}
.mini-cart .mini-cart-item>a {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
}
.mini-cart .mini-cart-item .mini-cart-item-image {
    display: block;
    height: 100%;
    max-height: 148px;
    width: auto;
}
.mini-cart .mini-cart-item 
.mini-cart-product {
    font-size: 13px;
    line-height: 20px;
    float: right;
    letter-spacing: normal;
    margin-bottom: 1px;
    width: 60%;
}
.mini-cart .mini-cart-item 
.mini-cart-product h3 {
    margin: 0;
    text-transform: none;
}
.product-detail-item-added .product-header, 
.product-detail-item-added .product-item-price, 
.mini-cart .product-header, 
.mini-cart .product-item-price {
    font-size: 13px;
    line-height: 20px;
}
.mini-cart .product-header, 
.mini-cart .product-item-price {
    display: block;
    width: 100%;
}
.product-header, .product-item-price {
    display: inline-block;
    font-family: "HM Sans Regular","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 20px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: none;
    white-space: nowrap;
}
small {
    font-size: 80%;
}
.mini-cart .mini-cart-item dl {
    font-size: 11px;
    line-height: 16px;
    margin: 0;
}
.mini-cart .mini-cart-item dt {
    clear: left;
    float: left;
    margin: 1px 0;
}
.mini-cart .mini-cart-item dd {
    float: left;
    margin: 1px 0 1px 3px;
}
.mini-cart .mini-cart-item .mini-cart-product-price {
    font-size: 11px;
    line-height: 16px;
    box-sizing: border-box;
    float: right;
    font-family: "HM Sans Semi Bold","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    padding-right: 15px;
    width: 60%;
}
.mini-cart .mini-cart-summary {
    background: #fff;
    padding: 0 24px 24px;
}
.mini-cart .mini-cart-summary dl {
    border-top: 2px solid #e4e4e4;
    margin: 0 0 12px 0;
    padding: 12px 0 0 0;
}
.mini-cart .mini-cart-summary dt {
    clear: both;
    float: left;
}
.mini-cart .mini-cart-summary dd, 
.mini-cart .mini-cart-summary dt {
    font-size: 13px;
    line-height: 20px;
    line-height: 32px;
    text-transform: capitalize;
}
.mini-cart .mini-cart-summary dd {
    float: right;
}
.mini-cart .mini-cart-summary .mini-cart-total {
    border-top: 2px solid #d0d0d0;
    padding: 24px 0 40px 0;
}
.mini-cart .mini-cart-summary .mini-cart-total dt, .mini-cart .mini-cart-summary .mini-cart-total dd {
    font-size: 16px;
    line-height: 20px;
}
.mini-cart .mini-cart-summary .button, 
.mini-cart .mini-cart-summary .responsive.gift-card input[type='submit'], 
.responsive.gift-card .mini-cart .mini-cart-summary input[type='submit'] {
    display: block;
    margin-top: 10px;
}
.mini-cart .mini-cart-summary .button:last-child, 
.mini-cart .mini-cart-summary .responsive.gift-card input:last-child[type='submit'], 
.responsive.gift-card .mini-cart .mini-cart-summary input:last-child[type='submit'] {
    margin-left: 0;
}
input[type='submit'].button-big, input[type='reset'].button-big, 
input[type='button'].button-big, .button.button-big, 
.responsive.gift-card input.button-big[type='submit'] {
    font-size: 13px;
    padding: 16px 11px;
    width: 100%;
}
.menu__session__item a, .menu__services, .menu__trigger, 
.menu #search-field .ui-autocomplete-input, 
.menu__search_submit:before, .menu__search_toggle:before {
    opacity: 1;
}
.button, .responsive.gift-card input[type='submit'] {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    user-select: none;
    background: #222 none;
    border: 1px solid #222;
    border-radius: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "HM Sans Semi Bold","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 13px;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 1em;
    margin: 0;
    min-height: 1em;
    padding: 16px 16px 16px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    vertical-align: baseline;
    width: 100%;
}
.cart:hover .mini-cart {
    display: block;
}
@media screen and (min-width: 769px) {
    .button, .responsive.gift-card input[type='submit'] {
        margin: 0;
        width: auto;
    }
}
/* */