
.header-area .header-top {
    padding: 13px 170px;
}
.header-area .header-bottom {
    padding: 0px 170px;
}
.header-selectors-wrapper {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.header-selectors-wrapper select {
    width: 100%;
}
select {
    min-width: 50px;
    height: 32px;
    padding: 6px;
}
.header-top li {
    padding-left: 10px;
    float: left;
}
.header-top a {
    text-decoration: none;
}
.header-top a h3 {
    color: #ff003c;
    font-family: Montserrat, 'sans-serif';
}
.top-bg {
    background: #e9ecef70;
}
.d-none {
    display: none;
}
a, button {
    color: #fff;
    outline: medium none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.header-bottom .main-menu ul li {
    display: inline-block;
    position: relative;
    z-index: 1;
}
.header-bottom .main-menu ul li.hot {
    position: relative;
}
.header-bottom .main-menu ul li a {
    font-size: 16px;
    color: #000000;
    display: inline-block;
    text-transform: capitalize;
    padding: 39px 18px;
    display: block;
    font-size: 14px;
    transition: all 0.3s ease-out 0s;
}
.header-bottom .main-menu ul li a:hover {
    color: #ffffff;
    font-weight: 600;
    background-color: #00b1ff;
}
.header-bottom .main-menu ul li ul li a:hover {
    color: #eb4848;
    background-color: transparent;
}
.header-bottom .header-right {
    display: flex !important;
    align-items: center;
}
.f-right {
    float: right;
}
.header-sticky ul li a {
    padding: 10px 19px;
}
.header-bottom .main-menu ul li.hot::before {
    position: absolute;
    content: "HOT";
    background: #ff003c;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    font-size: 10px;
    top: 19px;
    left: -13px;
    transition: all 0.2s ease-out 0s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 3px 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}

.header-bottom .header-right .form-box {
    position: relative;
    width: 85%;
}
.header-bottom .header-right .form-box input {
    border: 1px solid #eeeeee;
    border-radius: 30px;
    padding: 10px 20px;
    width: 100%;
    font-size: 0.9em;
}
.header-bottom .header-right .form-box .search-icon {
    position: absolute;
    top: 10px;
    right: 17px;
}
.header-bottom .header-right .form-box .search-icon i {
    color: #6c6a6a;
    cursor: pointer;
}
.header-bottom .header-right .favorit-items {
    position: relative;
}
.header-bottom .header-right .favorit-items::before {
    position: absolute;
    content: "02";
    width: 25px;
    height: 25px;
    background: #00b1ff;
    color: #fff;
    line-height: 25px;
    text-align: center;
    border-radius: 30px;
    font-size: 12px;
    top: -8px;
    right: -18px;
    transition: all 0.2s ease-out 0s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.header-bottom .header-right .favorit-items i {
    /* width: 43px;
    height: 43px; */
    line-height: 43px;
    text-align: center;
    /* border-radius: 50%;
    border: 1px solid #eeeeee; */
    color: #ff003c;;
    font-size: 1.9em;
    cursor: pointer;
}
.header-bottom .header-right .shopping-card {
    position: relative;
}
.header-bottom .header-right .shopping-card::before {
    position: absolute;
    content: "02";
    width: 25px;
    height: 25px;
    background: #ff003c;;
    color: #fff;
    line-height: 25px;
    text-align: center;
    border-radius: 30px;
    font-size: 12px;
    top: -8px;
    right: 4px;
    transition: all 0.2s ease-out 0s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.header-bottom .header-right .shopping-card i {
    /* width: 43px;
    height: 43px; */
    line-height: 43px;
    text-align: center;
    /* border-radius: 50%;
    border: 1px solid #eeeeee; */
    color: #00b1ff;
    font-size: 1.9em;
    cursor: pointer;
}
.header-bottom .menu-list {
    border-bottom: 1px solid #dae0e5;
    box-shadow: 0 1px 0px 0 #d3d3d34d;
}
.header-bottom .menu-list ul#navigation li.parent {
    font-family: Montserrat, 'sans-serif';
}
.header-btn {
    padding: 25px 28px !important;
}
.header-top li a.btn {
    background: #ffffff;
    -moz-user-select: none;
    text-transform: capitalize;
    color: #00b1ff;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    padding: 27px 44px;
    border-radius: 25px;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    margin: 0;
}
.header-top li a.btn:hover {
    color: #000000 !important;
}
.header-top li a.btn:hover::before {
    transform: scaleX(1);
}
.header-top li a.btn::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00b1ff7a;
    z-index: 1;
    border-radius: 5px;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
}
/* .parent:hover {
    background-color: #00b1ff;
    /* transform: skew(-12deg); 
} */
.parent:hover .submenu-wrapper {
    display: block;
    /* opacity: 1 */
}
.submenu-wrapper {
    max-width: 1366px;
    padding: 0 32px;
    margin: 0 auto;
    display: none;
    width: 1000px;
    position: fixed;
    /* opacity: 0; */
    left: 0;
    right: 0;
}
#list {
	display: inline-grid;
    align-items: stretch;
    padding: 24px 10px;
    background-color: #dee2e6;
    /* position: absolute; */
    z-index: 12000;
    transition: min-height .2s ease-in-out;
    min-height: 0;
    width: 100%;
    box-shadow: 0 3px 3px 0 #8080804d;
    border: 1px solid #dae0e5;
}
#list li {
	/* float: left;
	width: 100px;
	height: 100px;
	margin: 0 5px;
	background: #ccc;
	text-align: center;
	line-height: 100px;
    opacity: 0; */
    box-sizing: border-box;
    padding: 0 20px;
    /* border-right: 1px solid #ddd; */
	animation: fadeIn 1s ease-in both;
}
#list li:nth-child(2) {
	animation-delay: 1s;
}
#list li:nth-child(3) {
	animation-delay: 2s;
}
#list li:nth-child(4) {
	animation-delay: 3s;
}
#list li:nth-child(5) {
	animation-delay: 4s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

/* .mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 99;
}
.slicknav_menu {
    background: transparent;
    margin-top: 5px !important;
}
.slicknav_menu {
    margin: 0;
    padding: 0;
}
.slicknav_menu {
    background: transparent;
    margin-top: 10px;
}
.slicknav_menu {
    font-size: 16px;
    box-sizing: border-box;
    background: #4c4c4c;
    padding: 5px;
}
.slicknav_menu:before {
    content: " ";
    display: table;
}
.header-area .slicknav_btn {
    top: -30px;
}
.slicknav_btn {
    background-color: transparent;
    cursor: pointer;
    margin-bottom: -15px;
    position: relative;
    z-index: 99;
    border: none;
    border-radius: 3px;
    top: -23px;
    padding: 5px;
    right: 5px;
    margin-top: -5px;
}
.slicknav_btn {
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: -35px;
    position: relative;
    z-index: 99;
}
.slicknav_btn {
    position: relative;
    display: block;
    vertical-align: middle;
    float: right;
    padding: 0.438em 0.625em 0.438em 0.625em;
    line-height: 1.125em;
    cursor: pointer;
}
.slicknav_btn {
    margin: 5px 5px 6px;
    text-decoration: none;
    background-color: none;
}
.slicknav_nav {
    margin-top: 0px;
}
.slicknav_nav {
    background: #fff;
    float: right;
    margin-top: 11px;
    padding: 19px;
    width: 100%;
    border-bottom: 1px solid #eee;
}
.slicknav_nav {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 0.875em;
    list-style: none;
    overflow: hidden;
}
.slicknav_nav li {
    display: block;
}
.slicknav_nav a {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    text-transform: capitalize;
}
.slicknav_nav a {
    padding: 5px 10px;
    margin: 2px 5px;
    text-decoration: none;
    color: #fff;
}
.slicknav_menu:after {
    content: " ";
    display: table;
    clear: both;
}
.slicknav_menu .slicknav_menutxt {
    display: none;
}
.slicknav_menu .slicknav_menutxt {
    color: #fff;
    font-weight: bold;
}
.slicknav_menu .slicknav_menutxt {
    display: block;
    line-height: 1.188em;
    float: left;
}
.slicknav_menu .slicknav_icon {
    margin-right: 6px;
    margin-top: 3px;
    position: relative;
    right: 5px;
    top: -5px;
    padding-bottom: 3px;
}
.slicknav_menu .slicknav_icon {
    float: left;
    width: 1.125em;
    height: 0.875em;
    margin: 0.188em 0 0 0.438em;
}
.slicknav_menu .slicknav_icon:before {
    background: transparent;
    width: 1.125em;
    height: 0.875em;
    display: block;
    content: "";
    position: absolute;
}
.slicknav_menu .slicknav_icon-bar {
    background-color: #ff003c !important;
}
.slicknav_menu .slicknav_icon-bar {
    background-color: #ffffff;
    height: 3px;
    margin: 5px 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 30px;
    position: relative;
}
.slicknav_menu .slicknav_icon-bar {
    background-color: #dca73a !important;
}
.slicknav_menu .slicknav_icon-bar {
    display: block;
    width: 1.125em;
    height: 0.125em;
}
.slicknav_icon-bar {
    background: #fff !important;
} */

@media (min-width: 481px) {
    .header-selectors-wrapper>div {
        display: inline-block;
        width: 30%;
        margin: 10px auto;
    }
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
    .header-area .slicknav_btn {
        top: -40px;
    }
}
@media (min-width: 992px) {
    .d-lg-block {
        display: block!important;
    }
}
@media (min-width: 1001px) {
    .header-selectors-wrapper {
        float: left;
        border: none;
        padding: 0;
    }
    .header-selectors-wrapper>div {
        width: auto;
        min-width: 100px;
        margin: 0 12px 0 0;
        line-height: 43px;
    }
    .header-selectors-wrapper select {
        height: 25px;
        padding: 4px;
        font-size: 12px;
        visibility: hidden;
    }
}
@media (max-width: 1400px) and (min-width: 1200px) {
    .header-bottom .main-menu ul li a {
        padding: 39px 13px;
        text-decoration: none;
    }
    #list li {
        width: 50%;
    }
    #list li h2 {
        font-size: 1em;
        font-weight: 600;
    }
    .submenu-wrapper-inner {
        margin: 0;
        padding: 0;
        list-style: none;
        box-sizing: border-box;
        display: grid;
        vertical-align: top;
    }
    .header-bottom .main-menu ul li ul li a {
        padding: 4px 3px;
        text-decoration: none;
    }
    .header-bottom .header-right li {
        padding-left: 14px;
    }
    .header-btn {
        padding: 20px 21px !important;
    }
}
@media only screen and (max-width: 1600px) and (min-width: 1200px) {
    .header-area .header-top {
        padding: 13px 10px;
    }
    .header-area .header-bottom {
        padding: 0px 10px;
    }
}