
.headerContainer .header-top {
    padding: 13px 170px;
}
.headerContainer .header-bottom {
    padding: 0px 170px;
}
.header-selectors-wrapper {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.header-selectors-wrapper select {
    width: 100%;
}
select {
    min-width: 50px;
    height: 32px;
    padding: 6px;
}
.header-top li {
    padding-left: 10px;
    float: left;
}
.header-top a {
    text-decoration: none;
}
.header-top a h3 {
    color: #ff003c;
    font-family: Montserrat, 'sans-serif';
}
.top-bg {
    background: #e9ecef70;
}
.d-none {
    display: none;
}
a, button {
    color: #fff;
    outline: medium none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.header-bottom .main-menu ul li {
    display: inline-block;
    position: relative;
    z-index: 1;
}
.header-bottom .main-menu ul li.hot {
    position: relative;
}
.header-bottom .main-menu ul li a {
    font-size: 16px;
    color: #000000;
    display: inline-block;
    text-transform: capitalize;
    padding: 39px 18px;
    display: block;
    font-size: 14px;
    transition: all 0.3s ease-out 0s;
}
.header-bottom .main-menu ul li a:hover {
    color: #ffffff;
    font-weight: 600;
    background-color: #00b1ff;
}
.header-bottom .main-menu ul li ul li a:hover {
    color: #eb4848;
    background-color: transparent;
}
.header-bottom .header-right {
    display: flex !important;
    align-items: center;
}
.f-right {
    float: right;
}
.header-sticky ul li a {
    padding: 10px 4px;
}
.header-bottom .main-menu ul li.hot::before, .header-bottom .nav-menu ul li.hot:before {
    position: absolute;
    content: "HOT";
    background: #ff003c;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    font-size: 10px;
    top: 19px;
    left: -13px;
    transition: all 0.2s ease-out 0s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 3px 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}
.header-bottom .nav-menu ul li.hot:before {
    top: 64px;
    left: 95px;
}
.header-bottom .header-right .form-box {
    position: relative;
    width: 85%;
}
.header-bottom .header-right .form-box input {
    border: 1px solid #eeeeee;
    border-radius: 30px;
    padding: 10px 20px;
    width: 100%;
    font-size: 0.9em;
}
.header-bottom .header-right .form-box .search-icon, .mobile-search-icon {
    position: absolute;
    top: 0px;
    right: 17px;
}
.header-bottom .header-right .form-box .search-icon i, .mobile-search-icon i {
    color: #6c6a6a;
    cursor: pointer;
    font-size: 1.5em;
}
.header-bottom .header-right .wishlist {
    position: relative;
}
.header-bottom .header-right .wishlist span {
    position: absolute;
    /* content: "02"; */
    width: 25px;
    height: 25px;
    background: #00b1ff;
    color: #fff;
    line-height: 25px;
    text-align: center;
    border-radius: 30px;
    font-size: 12px;
    top: -8px;
    right: -13px;
    transition: all 0.2s ease-out 0s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.header-bottom .header-right .wishlist i {
    /* width: 43px;
    height: 43px; */
    line-height: 43px;
    text-align: center;
    /* border-radius: 50%;
    border: 1px solid #eeeeee; */
    color: #ff003c;;
    font-size: 1.9em;
    cursor: pointer;
}
.header-bottom .header-right .bag {
    position: relative;
}
.header-bottom .header-right .bag::before {
    position: absolute;
    content: "02";
    width: 25px;
    height: 25px;
    background: #ff003c;;
    color: #fff;
    line-height: 25px;
    text-align: center;
    border-radius: 30px;
    font-size: 12px;
    top: -8px;
    right: -11px;
    transition: all 0.2s ease-out 0s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.header-bottom .header-right .bag i {
    /* width: 43px;
    height: 43px; */
    line-height: 43px;
    text-align: center;
    /* border-radius: 50%;
    border: 1px solid #eeeeee; */
    color: #00b1ff;
    font-size: 1.9em;
    cursor: pointer;
}
.header-bottom .header-right .badge {
    padding: 0;
    font-weight: 400;
}
.header-bottom .navigation-menu {
    border-bottom: 1px solid #dae0e5;
    box-shadow: 0 1px 0px 0 #d3d3d34d;
}
.header-bottom .navigation-menu ul#navigation li.parent {
    font-family: Montserrat, 'sans-serif';
}
.header-btn {
    padding: 25px 28px !important;
}
.header-top li a.btn {
    background: #ffffff;
    -moz-user-select: none;
    text-transform: capitalize;
    color: #00b1ff;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    padding: 27px 44px;
    border-radius: 25px;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    margin: 0;
}
.header-top li a.btn:hover {
    color: #000000 !important;
}
.header-top li a.btn:hover::before {
    transform: scaleX(1);
}
.header-top li a.btn::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00b1ff7a;
    z-index: 1;
    border-radius: 5px;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
}
/* .parent:hover {
    background-color: #00b1ff;
    /* transform: skew(-12deg); 
} */
.parent:hover .submenu-wrapper {
    display: block;
    /* opacity: 1 */
}
.submenu-wrapper {
    max-width: 1366px;
    padding: 0 32px;
    margin: 0 auto;
    display: none;
    width: 1000px;
    position: fixed;
    /* opacity: 0; */
    left: 0;
    right: 0;
}
#list {
	display: flex;
    align-items: stretch;
    padding: 24px 10px;
    background-color: #dee2e6;
    /* position: absolute; */
    z-index: 12000;
    transition: min-height .2s ease-in-out;
    min-height: 0;
    width: 100%;
    box-shadow: 0 3px 3px 0 #8080804d;
    border: 1px solid #dae0e5;
}
#list.list-arrival {
    display: grid !important;
}
#list li {
	/* float: left;
	width: 100px;
	height: 100px;
	margin: 0 5px;
	background: #ccc;
	text-align: center;
	line-height: 100px;
    opacity: 0; */
    box-sizing: border-box;
    padding: 0 10px;
    /* border-right: 1px solid #ddd; */
	animation: fadeIn 1s ease-in both;
}
#list li:nth-child(2) {
	animation-delay: 1s;
}
#list li:nth-child(3) {
	animation-delay: 2s;
}
#list li:nth-child(4) {
	animation-delay: 3s;
}
#list li:nth-child(5) {
	animation-delay: 4s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.trigger {
    position: absolute;
    z-index: 2;
    /* background: red; */
    right: 0;
    top: 50%;
    /* border: 2px solid #fff;
    border-radius: 10px; */
    transform: translateX(-50%) translateY(-50%);
    width: 70px;
}
.bars {
    cursor: pointer;
}
.bars .line {
    fill: none;
    stroke: #ff003c;
    stroke-width: 4;
    stroke-linecap: square;
    transition: stroke-dasharray 400ms,  stroke-dashoffset 400ms;
}
.bars .line.top {
    stroke-dasharray: 10 172;
}
.bars .line.middle {
    stroke-dasharray: 40 111;
}
.bars .line.bottom {
    stroke-dasharray: 10 172;
}
.bars.clicked .top {
    stroke-dashoffset: -132px;
}
.bars.clicked .middle {
    stroke-dashoffset: -71px;
}
.bars.clicked .bottom {
    stroke-dashoffset: -132px;
}

.menu-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #f7f7f7;
    z-index:10;  
    overflow:hidden;
    box-shadow: 2px 0 18px rgba(0, 0, 0, 0.26);
}
.menu-sidebar{
    overflow:hidden;
    left:5em;
    z-index:5;
    width:0;
    height:0;
    transition: all 0.1s ease-in-out;
}
.menu-sidebar li a{
    height: 4em;
    line-height: 2.5em;
    text-align: center;
    color: #212529;
    text-decoration: none;  
    position: relative;
    font-family: Montserrat, 'verdana';
    transition: background 0.1s ease-in-out;
}
/* .menu-sidebar li:first-child a{
    height:5em;
    background: #00b1ff;
    color: #fff;    
    line-height:5
} */
.open{
    width:10em;
    height:100%;
}
.nav-menu ul li a {
    padding: 10px 25px;
    /* display: inline-table; */
    float: right;
    text-align: justify;
}
.menu-sidebar a {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    text-transform: capitalize;
    padding: 5px 10px;
    margin: 2px 5px;
    text-decoration: none;
    color: #fff;
}
.menu-sidebar .arrow {
    float: right;
    font-size: 22px;
    position: relative;
    font-weight: 600;
}

@media (min-width: 481px) {
    .header-selectors-wrapper>div {
        display: inline-block;
        width: 30%;
        margin: 10px auto;
    }
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
    .header-area .header-bottom {
        padding: 12px 25px;
    }
}
@media only screen and (max-width: 991px) {
    .headerContainer .header-bottom {
       height: 80px;
    }
    .header-bottom .navigation-menu {
        height: 80px;
        border-bottom: 0;
        box-shadow: none;
    }
    .header-bottom a h3 {
        color: #ff003c;
        font-family: Montserrat, 'sans-serif';
    }
    .header-bottom .logo-brand {
        position: absolute;
        left: 20px;
        top: 20px;
    }
    .sticky-bar {
        left: 0;
        margin: auto;
        position: fixed;
        top: 0;
        width: 100%;
        -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
        box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
        z-index: 9999;
        -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
        animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
        -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
        background: #fff;
    }
    .fix-card {
        position: absolute;
        right: 90px;
    }
    .fix-card li {
        padding-right: 10px;
        padding-left: 10px;
    }
    .header-bottom .header-right .form-box {
        width: 100%;
    }
    .header-bottom .header-right .form-box input {
        width: 400px;
    }
    .menu-sidebar li a{
        width:100%;
    }
    .menu-sidebar{
        width:100%;
        left:0;
        height:0;
    }
    .open{
        width:30%;
        height:100%;
    }
    #list {
        /* box-shadow: -1px 2px 5px -2px #8080804d; */
        transition: all 0.6s ease;
        box-shadow: 4px 4px 4px 0px rgba(157, 194, 210, 0.07) inset, -4px -4px 4px 0px #ffffff inset;
        padding: 13px 10px;
        border: none;
    }
    /* #list li {
        height: 30px;
    } */
    #list li a {
        height: 40px;
        line-height: 1.4em;
    }
}
@media only screen and (max-width: 768px) {
    .header-bottom .header-right .wishlist::before {
        width: 23px;
        height: 23px;
        top: -4px;
        line-height: 23px;
    }
    .header-bottom .header-right .wishlist i, .header-bottom .header-right .bag i {
        font-size: 1.4em;
    }
    .header-bottom .header-right .bag::before {
        width: 23px;
        height: 23px;
        top: -4px;
        line-height: 23px;
    }
    .trigger {
        width: 52px;
    }
    /* .header-sticky ul li a {
        padding: 4px 4px;
    } */
    .header-sticky ul li.search-box {
        display: none;
    }
    .fix-card {
        right: 70px;
    }
    .header-bottom a h3 {
        font-size: 1.3em;
    }
    .header-bottom .logo-brand {
        top: 27px;
    }
    .mobile-form {
        display: none;
        position: absolute;
        top: 80px;
        width: 100%;
        left: 0;
    }
    .mobile-form .search-input-form {
        display: flex;
    }
    .mobile-form .search-input-form i {
        position: absolute;
        right: 25px;
        font-size: 1.5em;
    }
    .mobile-form.in {
        display: block;
    }
    .mobile-form .form-control {
        border-radius: 20px;
    }
    .header-bottom .header-right .form-box .mobile-search-icon {
        top: -18px;
        right: -11px;
    }
    .header-bottom .header-right .form-box .mobile-search-icon i {
        font-size: 1.6em;
    }
    .dropOut .triangle {
        width: 0;
        height: 0;
        position: absolute;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #212529;
        top: -8px;
        left: 50%;
        margin-left: -8px;
    }
    .dropOut {
        margin-top: 9px;
        transition: all .1s ease-out;
    }
    .open{
        width:70%;
        height:100%;
    }
}
@media (min-width: 992px) {
    .d-lg-block {
        display: block!important;
    }
}
@media (min-width: 1001px) {
    .header-selectors-wrapper {
        float: left;
        border: none;
        padding: 0;
    }
    .header-selectors-wrapper>div {
        width: auto;
        min-width: 100px;
        margin: 0 12px 0 0;
        line-height: 43px;
    }
    .header-selectors-wrapper select {
        height: 25px;
        padding: 4px;
        font-size: 12px;
        visibility: hidden;
    }
}
@media (max-width: 1400px) and (min-width: 1200px) {
    .header-bottom .main-menu ul li a {
        padding: 39px 13px;
        text-decoration: none;
    }
    #list li {
        width: 50%;
    }
    #list li h2 {
        font-size: 1em;
        font-weight: 600;
    }
    .submenu-wrapper-inner {
        margin: 0;
        padding: 0;
        list-style: none;
        box-sizing: border-box;
        display: grid;
        vertical-align: top;
    }
    .header-bottom .main-menu ul li ul li a {
        padding: 4px 3px;
        text-decoration: none;
    }
    .header-bottom .header-right li {
        padding-left: 14px;
    }
    .header-btn {
        padding: 20px 21px !important;
    }
}
@media only screen and (max-width: 1600px) and (min-width: 1200px) {
    .headerContainer .header-top {
        padding: 13px 10px;
    }
    .headerContainer .header-bottom {
        padding: 0px 10px;
    }
}